<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>636666845268-p67akk2njtiogj5d7faa35uph31vgrng.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.636666845268-p67akk2njtiogj5d7faa35uph31vgrng</string>
	<key>API_KEY</key>
	<string>AIzaSyBVBfIv30Z17q2-vmuMa2Fk8UnFROZCFw8</string>
	<key>GCM_SENDER_ID</key>
	<string>636666845268</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.edu.infix.infixedu</string>
	<key>PROJECT_ID</key>
	<string>infixedu-app</string>
	<key>STORAGE_BUCKET</key>
	<string>infixedu-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:636666845268:ios:c90b201d960b755cd3b5c1</string>
</dict>
</plist>